.profile-dropdown {
  position: absolute;
}

.hamburger-button {
  background-color: white;
  border: none;
  font-size: 35px;
}

.hidden {
  display: none;
}

.navigation-ul {
  /* border: 2px solid red; */
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
